/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0d0d;
  --foreground: #f3f1ea;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
}
